@page "/admin"

@using Syncfusion.Blazor.Grids
@using HPCTechMovieSite2024.Shared
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Notifications

@if (Users?.Any() ?? false)
{
    <div class="container-fluid">
        <div class="row">
            <div class="column">
                <SfGrid DataSource="Users" TValue="UserEditDto" @ref="UserGrid" AllowSorting="true">
                    <GridEvents TValue="UserEditDto" OnRecordDoubleClick="UserDoubleClickHandler"></GridEvents>
                    <GridColumns>
                        <GridColumn Field="UserName"></GridColumn>
                        <GridColumn Field="Email"></GridColumn>
                        <GridColumn Field="FirstName" HeaderText="First Name" Width="200"></GridColumn>
                        <GridColumn Field="LastName" HeaderText="Last Name" Width="200"></GridColumn>
                        <GridColumn Field="EmailConfirmed" HeaderText="Email Confirmed" Width="150">
                            <Template>
                                @{
                                    // context
                                    var userEditDto = context as UserEditDto;

                                    <SfCheckBox     @bind-Checked="userEditDto.EmailConfirmed" 
                                                    TChecked="bool"
                                                    @onchange="eventArgs => { ToggleEnableUser(eventArgs, userEditDto.Id);}"></SfCheckBox>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="Admin" Width="150">
                            <Template>
                                @{
                                    var userEditDto = context as UserEditDto;

                                    <SfCheckBox @bind-Checked="userEditDto.Admin"
                                                TChecked="bool"
                                                @onchange="eventArgs => { ToggleAdmin(eventArgs, userEditDto.Id);}"></SfCheckBox>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </div>
        </div>
    </div>
}
<SfDialog Width="800" Height="800" IsModal="true" @bind-Visible="@IsUserModalVisible">
    <DialogTemplates>
        <Header>Add/Edit User</Header>
        <Content>
            <EditForm Model="@userEditDto" OnValidSubmit="AddUserOnSubmit">
                <DataAnnotationsValidator />
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="email">
                            Email
                        </label>
                    </div>
                    <div class="col-md-8">
                        <SfTextBox ID="email" Placeholder="Email" @bind-Value="@userEditDto.Email"></SfTextBox>
                        <ValidationMessage For="@(() => userEditDto.Email)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="firstname">
                            First Name
                        </label>
                    </div>
                    <div class="col-md-8">
                        <SfTextBox ID="firstname" Placeholder="First Name" @bind-Value="@userEditDto.FirstName"></SfTextBox>
                        <ValidationMessage For="@(() => userEditDto.FirstName)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="lastname">
                            Last Name
                        </label>
                    </div>
                    <div class="col-md-8">
                        <SfTextBox ID="lastname" Placeholder="Last Name" @bind-Value="@userEditDto.LastName"></SfTextBox>
                        <ValidationMessage For="@(() => userEditDto.LastName)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="emailconfirmed">
                            Email Confirmed
                        </label>
                    </div>
                    <div class="col-md-8">
                        <SfCheckBox id="emailconfirmed" @bind-Checked="@userEditDto.EmailConfirmed"></SfCheckBox>
                        <ValidationMessage For="@(() => userEditDto.EmailConfirmed)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <SfButton IsPrimary="true" typeof="Submit">Update User</SfButton>
                    </div>
                    <div class="col-md-2">
                        <SfButton IsPrimary="true" Type="Button" title="Cancel" @onclick="@(() => {Reset();})">Cancel</SfButton>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

<SfToast    @ref="ToastObj"
            Content="@toastContent"
            CssClass="@toastSuccess"
            ShowCloseButton="true"
            ShowProgressBar="true"
            Timeout="3000">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>