@using Syncfusion.Blazor.Inputs;

@if (Movie is not null)
{
    <div class="card border rounded bg-white" style="width: 9rem">
        <img class="card-img-top" src=@($"https://img.omdbapi.com/?apikey=86c39163&i={Movie.imdbID}") />
    </div>
    <div class="card-body">
        <h6>@Movie.Title (@Movie.Year)</h6>
        <ul class="list-group list-group-flush">
            @if (Movie.Ratings?.Any() ?? false)
            {
                @foreach (var rating in Movie.Ratings)
                {
                    if (rating.Source != "User")
                    {
                        <li class="list-group-item px-1 py-1" style="font-size: 8pt">
                            @(new string(
                                rating.Source.Split(' ', StringSplitOptions.RemoveEmptyEntries).Select(w => w[0]).ToArray()
                                )): @rating.Value
                        </li>
                    } else
                    {
                        <SfRating   Value="@(Double.Parse(rating.Value))" 
                                    ValueChanged="MovieRatingChanged"
                                    EnableAnimation="true"
                                    ItemsCount="5" 
                                    Precision="PrecisionType.Exact"></SfRating>
                    }

                }
            }
        </ul>
        @if (AllowDelete)
        {
            <button class="btn-sm btn-primary" @onclick="@(() => EditFavoriteMovie(@Movie))">Edit</button>
            <button class="btn-sm btn-primary" @onclick="@(() => RemoveFavoriteMovie(@Movie))">Remove</button>
        }

        
    </div>
}
